
input[type=button]{
	text-transform: uppercase;
	font-size: 13px;
	margin: 2px;
	border-radius: 10px;
	background: #96B7C4;
	border-style: solid;
	padding: 5px ;
	transition: 0.6s all;
}

input[type=button]:hover{
	background: var(--inv);
}
hr{
	background: black;
}
.ct-zoom-rect {
	fill: rgba(200, 100, 100, 0.3);
	stroke: red;
  }
/* ~~~~~~~~~~~~ GLOBAL SETTINGS ~~~~~~~~~~~~ */

*, *:before, *:after {
	box-sizing: border-box;
}



html {
	font-size: 12px;
	font-family: 'Playfair Display', serif;
}

input[type="text"]{
	border-radius: 5px;
	margin: 0px;
	width: auto;
	border-style: none;
	padding:2px;
	text-align: center;
}
table{
	border: none;
	padding: auto;
	text-align: center;
	margin: 0;
}
th{
	font-size: 80%;
	padding: 2px;
}
div:last-child {margin-bottom: 0;}
select{
	padding: 1%;
	border-style: solid;
	border-radius: 10px;
	border-color: black;
	margin:1%;
}
option{
	border-style: none;
}
option:last-child{
	border-radius: 10px; 
	border-style: none;
}

.myslider { 
	-webkit-appearance: none; 
	background: #FCF3CF ; 
	width: 50%; 
	height: 10px; 
	opacity: 2; 
	border-radius: 10px;

} 


.myslider::-webkit-slider-thumb { 
	-webkit-appearance: none; 
	cursor: pointer; 
	background: #34495E ; 
	width: 12px; 
	border-radius: 50%;
	height: 12px; 
} 


.myslider:hover { 
	opacity: 1; 
} 



